
/*body {
  background-color: black;
  display: grid;
  place-items: center;
}

main {
  list-style: none;
  background-color: red;
  display: grid;
  margin: 0 auto;
}

.Calender {
  display: grid;
  grid-template-columns: repeat(7, 5rem);
  grid-template-rows: repeat(5, 5rem);
  gap: 4px;
  background-color: yellowgreen;
}

.day {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
